/*START prefers-color-scheme: dark*/
@media (prefers-color-scheme: dark) {

/**
* Variables
*/

:root {
	--bg-color-100  : #1E1F22;
	--bg-color-200  : #2E2F30;
	--bg-color-300  : #4D4E55;
	--bg-color-400  : #515156;
	--link-color    : #3A9BFF;
	--success-color : #30D158;
	--border-color  : #000000;
	--tag-color     : #FF375F;
}


/**
* Text & Typography
*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
div {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
}

button,
input,
optgroup,
select,
textarea,
p,
div,
h1 {
	color: #e0e0e0 !important;
}

.level2,
.level3 {
	font-weight: 400 !important;
}

h1 > a,
a > span,
a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-color);
}

strong {
	color: #fff !important;
}


/**
* Interactive Elements
*/

select,
.bp3-html-select select,
.bp3-datepicker-caption select {
	background: #646565 url("data:image/svg+xml,%3Csvg width='16' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%231660D1' d='M0 0h16v19H0z'/%3E%3Cpath d='M4.716 11.589a.5.5 0 01.638.057L8 14.293l2.646-2.647.07-.057a.5.5 0 01.638.765l-3 3-.07.057a.5.5 0 01-.638-.057l-3-3-.057-.07a.5.5 0 01.057-.638zm3.568-8l.07.057 3 3a.5.5 0 01-.638.765l-.07-.057L8 4.707 5.354 7.354a.5.5 0 01-.638.057l-.07-.057a.5.5 0 01-.057-.638l.057-.07 3-3a.5.5 0 01.638-.057z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat 100% !important;
	color: white;
	border: none;
	-webkit-appearance: none;
	padding: 3px 26px 3px 10px;
	font-size: 13px;
	line-height: 1;
	height: 19px;
	box-shadow: 0 0 2px rgba(0,0,0,.3), inset 0 1px #838384 !important;
	cursor: default;
}

/* Hide icon in bp3 select, we already have our own */
.bp3-html-select .bp3-icon {
	display: none;
}

.rm-alias-external {
	font-style: italic;
}

.rm-alias-external:after {
	content: "â‹";
	vertical-align: super;
	font-size: .7em;
}

.rm-find-or-create-wrapper .rm-menu-item {
	background: transparent !important;
}

.rm-find-or-create-wrapper .rm-menu-item[style="background-color: rgb(213, 218, 223);"] {
	background: var(--bg-color-300) !important;
}

/**
* Top Bar
*/

.rm-topbar {
	border-bottom: 1px solid var(--border-color);
	background: linear-gradient(#404144, #333437);
	box-shadow: inset 0 1px #656967;
}

.rm-saving-icon .rm-synced {
	background: var(--success-color) !important;
}

.rm-new-page {
	color: var(--success-color) !important;
}


/**
* Left Sidebar
*/

.roam-sidebar-container {
	border-right: 1px solid var(--border-color);
	background: var(--bg-color-200) !important;
	box-shadow: none !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
	background: var(--bg-color-300) !important;
	cursor: default;
}

.starred-pages-wrapper > div:first-child {
	background: transparent !important;
}

.starred-pages-wrapper > div:nth-of-type(3) * {
	display: none;
}

.starred-pages-wrapper > div:nth-of-type(3):before {
	content: "Starred";
	opacity: .6;
	font-size: 12px;
	font-weight: 600;
	padding-left: 10px;
	display: block;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page,
.roam-body .roam-app .roam-sidebar-container > * {
	color: #fff !important;
}

.starred-pages-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.starred-pages div {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#roam-sidebar-logo:hover {
	color: #fff;
	text-decoration: none;
	background: rgb(28, 28, 30) !important;
}

#roam-sidebar-logo {
	text-decoration: none;
}

#roam-right-sidebar-content > div {
	border-bottom: none !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
	color: #fff;
	text-transform: lowercase;
	font-weight: 400;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button::first-letter {
	text-transform: uppercase;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
	background: #4D4E55 !important;
	cursor: default;
}

/**
* Right Sidebar
*/

.roam-body-main #right-sidebar {
	background: var(--bg-color-100) !important;
	border-left: 1px solid var(--border-color);
}

#right-sidebar .rm-reference-item {
	background-color: rgb(28, 28, 30);
}

/**
* Body
*/

html,
body,
.roam-body .roam-app,
.rm-quick-capture-sync-modal {
	background: var(--bg-color-100) !important;
}

.loading-astrolabe {
	filter: invert();
}

/**
* Code Blocks
*/

code {
	background-color: var(--bg-color-100) !important;
	border: none;
	color: rgb(940, 92, 230);
}

.CodeMirror {
	background-color: var(--bg-color-100) !important;
	color: #fff !important;
}

.CodeMirror-gutters {
	background-color: var(--bg-color-200) !important;
	border-right: none;
}

.CodeMirror-linenumber {
	color: #8C8C8C !important;
}

.cm-def,
.cm-s-default .cm-keyword,
.cm-atom {
	color: var(--link-color) !important;
}

.cm-s-default .cm-builtin {
	color: var(--link-color) !important;
}

/**
* Kanban board
*/

.kanban-board {
	background: var(--bg-color-200);
}

.kanban-column {
	background: var(--bg-color-400);
}

.kanban-title {
	border-color: var(--border-color);
}

.kanban-card {
	background: var(--bg-color-100);
}

/**
* Blueprint 3 customizations
*/

button,
.bp3-menu a:hover,
.bp3-button {
	cursor: default;
	appearance: none;
}

button,
.bp3-button,
button:hover,
.bp3-button:hover {
	background: linear-gradient(#6C6C6D, #646465);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.20), inset 0 1px 0 0 rgba(255,255,255,0.04), inset 0 0 0 0 rgba(255,255,255,0.16);
	border-radius: 3px;
	border: none;
	font-size: 13px;
	line-height: 1;
	height: 19px;
}

button,
.bp3-button {
	padding: 3px 10px 3px 10px;
}

.bp3-button.bp3-intent-primary,
.bp3-button.bp3-intent-primary:hover {
	background-image: linear-gradient(180deg, #1768E5 0%, #145CCC 100%);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.40), 0 0 1px 0 rgba(0,0,0,0.20), inset 0 0 0 0 rgba(255,255,255,0.25), inset 0 1px 0 0 rgba(255,255,255,0.06);
	border-radius: 3.5px;
}


.roam-block span .bp3-button {
	/*background: rgb(44, 44, 46) !important*/
}

.bp3-dialog .bp3-button {
	margin-right: 4px;
}

.bp3-dialog .bp3-button:last-child {
	margin-right: 0;
}

#roam-right-sidebar-content .bp3-button {
	background: transparent;
}

#roam-right-sidebar-content .bp3-button:hover {
	background: var(--link-color);
	color: #fff;
}

#roam-right-sidebar-content .bp3-button:hover *:before {
	color: #fff !important;
}

.bp3-menu,
.bp3-popover-content,
.bp3-dialog {
	background: #2C2D35 !important;
}

.bp3-popover-arrow-fill {
	fill: #2C2D35 !important;
}

.bp3-popover {
	box-shadow: 0 0 0 1px #4C4C50;
}

.bp3-popover .bp3-popover-arrow {
	filter: drop-shadow(0 -1px #4C4C50);
}

.bp3-button .bp3-icon,
.bp3-button .bp3-icon-standard,
.bp3-button .bp3-icon-large,
.bp3-button[class*="bp3-icon-"]::before{
	color: #888 !important;
}

.bp3-button:hover .bp3-icon,
.bp3-button:hover .bp3-icon-standard,
.bp3-button:hover .bp3-icon-large,
.bp3-button[class*="bp3-icon-"]:hover::before{
	color: #fff !important;
}

.bp3-datepicker {
	background: var(--bg-color-100);
}

.bp3-datepicker .DayPicker-Day--isToday {
	background: var(--link-color);
}

.bp3-datepicker .DayPicker-Day:hover,
.bp3-datepicker .DayPicker-Day:focus {
	background: var(--bg-color-200);
	cursor: default;
}

.bp3-elevation-3 {
	background-color: rgb(44, 44, 46) !important;
}


/* Inverts the colors of the / and link search menus */
.bp3-elevation-3 .dont-unfocus-block[style*="background-color: rgb(213, 218, 223);"] {
	background: var(--bg-color-300) !important;
}

.bp3-text-overflow-ellipsis {
	color: #fff !important;
}

.bp3-input {
	background: #222;
}


/* -------------------------------------------------------------------------- */
/* TODO
/* -------------------------------------------------------------------------- */

.rm-level1 .checkmark {
	top: -3px;
}

.check-container input:checked ~ .checkmark {
	background-color: var(--link-color) !important;
}

.rm-query {
	border-color: var(--border-color) !important;
}

.rm-encrypted-block,
.rm-query-title,
.rm-embed-container {
	background: var(--bg-color-200) !important;
}

.rm-block-ref:hover {
	color: #fff;
	background: var(--link-color);
}

.rm-page-ref-link-color,
.rm-page-ref--link {
	color: var(--link-color) !important;
}

.rm-reference-item {
	background-color: rgb(44, 44, 46);
	padding: 5px;
	border-radius: 7px;
}

.katex * {
	color: var(--link-color) !important;
}

.check-container {
	padding-right: 4px;
}

.rm-page-ref-brackets {
	opacity: .3;
}

.roam-log-container .roam-log-page {
	border-color: #444;
}

.block-border-left {
	border-left: 1px solid #444;
}

.bp3-popover-content > div {
	max-height: 520px !important;
}

.h3,
h3,
.rm-level3 span {
	color: var(--success-color) !important;
}

.rm-reference-item {
	margin-bottom: 10px;
}

.roam-highlight,
.roam-highlight strong {
	background-color: rgb(255, 214, 10);
	color: rgb(28, 28, 30) !important;
}

.roam-highlight .rm-page-ref {
	color: var(--link-color) !important;
}

.block-highlight-yellow {
	background-color: #8C8C8C !important;
}

.rm-bullet.rm-bullet--closed .rm-bullet__inner {
	border-color: var(--bg-color-400) !important;
	background-color: var(--bg-color-200) !important;
}

.simple-bullet-inner {
	background-color: #ccc !important;
}

.rm-page-ref-tag {
	color: var(--tag-color);
}

.rm-multibar {
	border-color: var(--bg-color-300);
}

.rm-multibar:hover {
	border-color: var(--bg-color-400);
}

/*END prefers-color-scheme: dark*/
}
